.movieList {
    margin-bottom: 1.875rem;

    h2 {
        margin-left: 3.5rem;
        font-size: 18px;
    }

    .wrapper {
        overflow-x: hidden;
        padding-left: 3rem;

        .containerMovieList {
            width: 99999999px;

            .movieItem {
                display: inline-block;
                width: 9.375rem;
                cursor: pointer;

                img {
                    width: 100%;
                    transform: scale(0.9);
                    transition: all ease 0.2s;
                    border-radius: 4px;

                    &:hover {
                        transform: scale(1)
                    }
                }
            }
        }
    }
}