.movieList {
    margin-bottom: 1.875rem;

    h2 {
        margin-left: 3.5rem;
        font-size: 18px;
    }

    .movieListLeft, .movieListRight {
        position: absolute;
        width: 3rem;
        height: 12.6rem;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 11px;
        cursor: pointer;
        opacity: 0;
        transition: all ease 0.5s;
    }

    .movieListLeft {
        left: 0;
    }

    .movieListRight {
        right: 0;
    }

    .wrapper {
        overflow-x: hidden;
        padding-left: 3rem;

        .containerMovieList {
            transition: all ease 0.5s;

            .movieItem {
                display: inline-block;
                width: 9.375rem;
                cursor: pointer;

                img {
                    width: 100%;
                    transform: scale(0.9);
                    transition: all ease 0.2s;
                    border-radius: 4px;

                    &:hover {
                        transform: scale(1)
                    }
                }
            }
        }
    }
}

.movieList:hover .movieListLeft,
.movieList:hover .movieListRight {
    opacity: 1;
}